fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary

python-dotenv
python-multipart

passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]

requests
groq
pydantic

email-validator
google-auth

gunicorn
cloudinary